/* Удобнее работать, когда базовые стили html тегов убраны, так что добавил нормалайз */
@import url('../../../node_modules/normalize.css');
/* Подключил шрифты */
@import url('../../shared/assets/fonts/font.css');

/* Сделал для чистоты стилей дальше */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.section {
  padding: 64px;
}

:root {
  --section-padding-rl: 80px;

  --color-black-100: #1d1d1d;
  --color-black-70: #1d1d1db3;
  --color-black-30: #1d1d1d4d;
  --color-white-100: #fcfcfc;
  --color-white-30: #fcfcfc4d;
  --color-white-16: #fcfcfc29;
  --color-grey-dark: #828282;
  --color-grey-light: #e8e8e8;
  --color-grey-light-30: #e8e8e84d;
  --color-grey-light-10: #e8e8e81a;
  --color-grey-medium: #9e9fac;
}
