.arrow-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow-btn img {
    width: 22px;
    height: 27px;
}

.arrow-btn-to_next {
    transform: scaleX(-1);
}